.condition-numeric-state-information-holder {
    display: flex;
    flex-direction: row;
}

.key {
    margin-right: 5px;
    font-weight: bold;
}

.card-header {
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}

.condition-numeric-state {
    margin-top: 10px;
}