.column-title {
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.column {
    border: solid 1px black;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}