.main-view-header {
    background-color: #222;
    height: 40px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
}

.non-sidebar-view {
    margin-left: 19%;
}