.component-condition-trigger-sidebar {
    width: 19%;
    background-color: lightcyan;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}